<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
			  propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\odk-blueprism-skat-eindkomst-client_TEST.svclog" name="xml" />
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\EIndkomst_ConsoleApp_TextWriterOutput_TEST.log" />
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="myListener"></add>
        <add name="console"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <!--
    
    This config section is optional
    
    The service-proxy is configured in code - but the configuration can be overridden
    by setting preprocessor flag USE_CONFIG in EIndkomst.cs and recompile.
    USe this config section in the application you are developing and edit accordingly.
    
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <clientCertificate storeName="My" storeLocation="CurrentUser" x509FindType="FindBySubjectName" findValue="xxx"></clientCertificate>
            <serviceCertificate>
              <defaultCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="Skatteforvaltningen - SKAT OIO Gateway"></defaultCertificate>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customBindingEIndkomst">
          <textMessageEncoding messageVersion="Soap11"></textMessageEncoding>
          <security
						authenticationMode="MutualCertificate"
						includeTimestamp="true"
						securityHeaderLayout="Lax"
						allowSerializedSigningTokenOnReply="true"
						messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
          </security>
          <httpsTransport maxReceivedMessageSize="1024000">
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://services.extranet.demo.skat.dk/vericert/services/IndkomstOplysningPersonHentServicePort"
          binding="customBinding" bindingConfiguration="customBindingEIndkomst"
          contract="eindkomst.test.IndkomstOplysningPersonHentServicePortType"
          name="test" />
      <endpoint address="https://services.extranet.skat.dk/vericert/services/IndkomstOplysningPersonHentServicePort"
                binding="customBinding" bindingConfiguration="customBindingEIndkomst"
                contract="eindkomst.prod.IndkomstOplysningPersonHentServicePortType"
                name="prod">
        <identity>
          <dns value="Skatteforvaltningen - SKAT OIO Gateway"/>
        </identity>
      </endpoint>
    </client>-->
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="10000" maxSizeOfMessageToLog="1024000" logKnownPii="true"/>
      <endToEndTracing activityTracing="false" messageFlowTracing="true" />
    </diagnostics>
  </system.serviceModel>
</configuration>