<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IndkomstOplysningPersonHentServiceBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://services.extranet.skat.dk/vericert/services/IndkomstOplysningPersonHentV2ServicePort"
                binding="basicHttpBinding" bindingConfiguration="IndkomstOplysningPersonHentServiceBinding"
                contract="dk.skat.eindkomst.IndkomstOplysningPersonHentServicePortType"
                name="IndkomstOplysningPersonHentServiceBindingQSPort" />
        </client>
    </system.serviceModel>
</configuration>